body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

hr{
margin: 20px 0px 10px 10px;
}


/* Style navigation bar */
.topnav{
    overflow: hidden;
    background-color: none;
}

.topnav table{
    margin: 10px;
    float: left;

}

.topnav h1{
    font-size: 18px;

}

.topnav a{
    text-decoration: none;
    color: black;
}
.topnav a:hover {
    background-color: none;
    color: lightgray;
    text-decoration: none;
}

.topnav a.active {
    background-color:none;
    color: black;
}

.topnav .icon {
    display: none;
}

.fa-plus {
    -webkit-text-stroke: 2px white;
    margin-top: 10px;
}

/* table td{
    display: inline-block;
    margin-left: 0px;
} */

#home-tab{
    display: block;
    left: 0;
    
}
#work-tab{
    display: block;
    margin-left: 5em;
}
#project-tab{
    display: block;
    margin-left: 5em;
} 

#poster-tab{
    display: block;
    margin-left: 5em;
}


/* Style Home Page */
#introduction{
    font-size: 35px;
    line-height: 37px;
    margin: 10px;
}


/* Style Project Page */
#project-title {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    font-weight: 700;
    width: 250px;
    height: 200px;

}


#description {
    font-size: 18px;
    line-height: 23px;
    padding: 10px;
}

/* .info{
    display: inline-block;
    left: 0px;
    position: fixed;
    margin: 15px;
    top: 267px;
} */

td{
    padding-right: 15px;

}


h2{
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

.column-header {
    float: left;
    width: 33.3%;
    left: 0;
    right: 0;

  }

.media img{
    width: 100%;
    margin: 10px 20px 10px 10px;
}

img{
    width: 100%;
    margin: 10px 20px 10px 10px;
}

/* Two columns image */
.row-header2 img{
    display: flexbox;
    width: 48%;
    left: 50%;
    right: 50%;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

/* Single image */
.row-header2b img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    
}

.table{
    display: table;
    width: 100%;
    padding: 0px 0px 10px 0px;

}

.cell{
    display: table-cell;
    position: relative;
    columns: 200px 2;
}




/* Styleboard.md

.type-heading-1{
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 6rem;
    margin: 0 0 3rem;
}

.type-heading-2{
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 3rem;
}

.type-heading-3{
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 3rem;
}

.color-primary{
   color: #ffffff;
}

.color-secondary{
    color: darkgray;
}

.color-accent{
    color: blue;
}

.button-primary{
    background: transparent;
    border: 1px solid black;
    font-size: 2rem;
}

.button-secondary{
    background: transparent;
    border: 1px solid black;
    font-size: 2rem;
}

.button{
    transition-duration: 0.4s;
}

.button:hover{
    background-color: black;
    color: white;
}

.navigation-item-active:hover{
    color: darkgrey;
}
*/