body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: medium;
    font-variant: normal;
}

hr{
margin: 20px 10px 10px 10px;
background-color: black;
}


/* Style navigation bar */
.topnav {
    overflow: hidden;
    background-color: none;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none; 
    margin-bottom: -10px;
}
  
.topnav a h1{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20px; 
    font-style: medium; 
    font-variant: normal;
    font-weight: 400; 
    line-height: 40px;
  }
  
  
  
.topnav a:hover {
    background-color: none;
    color: lightgray;
    text-decoration: none;
  }
  
  .topnav a.active {
    background-color:none;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .fa-plus {
    -webkit-text-stroke: 4px white;
    margin-top: 10px;
    
  }

a,a:visited, a:link, a:active{
    color:black;
    text-decoration:none;
    }



#home-tab{
    display: block;
    left: 0;
    
}
#work-tab{
    
    margin-left: 12em;
}
#project-tab{
  
    margin-left: 12em;
} 

#poster-tab{
  
    margin-left: 12em;
}


/* Style Home Page */
#introduction{
    font-size: 35px;
    line-height: 37px;
    margin: 10px;
}


/* Style Project Page */
#project-title {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    font-weight: 700;
    width: 250px;
    height: 200px;

}


#description {
    font-size: 18px;
    line-height: 23px;
    padding: 10px;
}

/* .info{
    display: inline-block;
    left: 0px;
    position: fixed;
    margin: 15px;
    top: 267px;
} */

td{
    padding-right: 15px;
}


.row-header h2 {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}
.row-header2b h2{
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

.row-header3 h2{
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

.column-header {
    float: left;
    width: 33.3%;
    left: 0;
    right: 0;

  }

.media img{
    width: 100%;
    margin: 10px 20px 10px 10px;
}

img{
    width: 100%;
    margin: 10px 20px 10px 10px;
}

/* Two columns image */
.row-header2 img{
    display: flexbox;
    width: 48%;
    left: 50%;
    right: 50%;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

/* Single image */
.row-header2b img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    
}

.table{
    display: table;
    width: 100%;
    padding: 0px 0px 10px 0px;

}

.cell{
    display: table-cell;
    position: relative;
    columns: 200px 2;
}


/* Project.html -> Top bar */
.topbar table{
    display: block;
    margin: 20px 0px 10px 10px;
}

.topbar h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20px; 
    font-style: medium; 
    font-variant: normal;
    font-weight: 400; 
    line-height: 40px;
    margin-top: 20px;
}
#row-content{
    margin-top: 50px;
}

.hover_img{
    padding-bottom: 10em;
}
.hover_img:hover td{
    color: lightgray; 
}

.hover_img td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20px; 
    font-style: medium; 
    font-variant: normal;
    font-weight: 400; 
    line-height: 20px;
}

.hover_img a { position: relative;}

.hover_img a span { position:absolute; display:none; padding-left: 50em;}
.hover_img a:hover span { display:block; margin: 10px; }




/* Forward - Backward button */
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: none;
  padding: 10;
  }
input:hover{  color: lightgray;}
#b1{font-size: 30px; background-color: white;float: left;}
#b2 {font-size: 30px;background-color: white;float: right;}

#myBtn {
    background-color: transparent;
    display: none;
    position: fixed;
    top:93.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
  }
  
  #myBtn:hover {
    background-color: none;  color: lightgray;
  }

/* Button Click on homepage*/
button {
    color: black;
    background: none;
    padding-top: 5px;
    height: 50px;
    font-size: 15px;
    border: 1px solid black;
    
  }
  .collapsible {
    position: relative;
    background-color: none;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    bottom: 20px;
    width: 9em;
    border-radius: 12px;
    text-align: center;
    font-size: 25px;
    
    
    

}

  .collapsible-text{
      font-size: 25px;
     
}



.active2, .collapsible:active {
  background-color: black;
  color: lightgrey;
  
}

.collapsible:after {
  color: black;
  font-weight: bold;
  float: left;
  margin-left: 0px;
  
}




.content {
    display: inline-block;
  padding-top: 5px;
  max-height: 120px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background-color: transparent;
  margin-left: 20em;
  text-transform: uppercase;
} 
.row-contain2 {
    width: 400px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
    text-align: right;
    line-height: 15px;
    padding-top: 7px;
}
.row-contain3 {
    width: 400px;
    display: block;
    right: 0;
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
    text-align: right;
    line-height: 15px;
    padding-top: 7px;
}
.title p{
    padding-right: 10px;
    display: block;
    font-size: 20px;
    width: 140px;
    font-weight: 500;
}

.row{
    margin-top: 20px;
}


  
/* Responsive */
@media screen and (max-width: 1072px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon{
    float: right;
    display: block;
    font-size: 0px;
    margin-right: 20px;

}

.add{
    display: block;
    transition: all .4s ease-in-out;
    background-color: black;
    border: 0.5px solid black;
    height: 3px;
    margin-left: 3px ;
    
}

    
.icon-plus{
    background-color: black;
    border: 1.5px solid black;
    font-size: 15px;
    margin: 8px;  
}

.plus{
    background: white;
    transition: all .4s ease-in-out;
    width: 25px; 
}
    
.rotate{
    transform: rotate(45deg);
}

li{
    float: left;
    line-height: 1px;
    width: 20px;
    margin-top: 20px; 
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}

#work-tab{
    margin-left: 0;
}
#project-tab{
    margin-left: 0;
}  
#poster-tab{
    margin-left: 0em;
}
}
  
@media screen and (max-width: 1072px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

   
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;  
}
}


/* Styleboard.md

.type-heading-1{
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 6rem;
    margin: 0 0 3rem;
}

.type-heading-2{
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 3rem;
}

.type-heading-3{
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 3rem;
}

.color-primary{
   color: #ffffff;
}

.color-secondary{
    color: darkgray;
}

.color-accent{
    color: blue;
}

.button-primary{
    background: transparent;
    border: 1px solid black;
    font-size: 2rem;
}

.button-secondary{
    background: transparent;
    border: 1px solid black;
    font-size: 2rem;
}

.button{
    transition-duration: 0.4s;
}

.button:hover{
    background-color: black;
    color: white;
}

.navigation-item-active:hover{
    color: darkgrey;
}
*/